{% extends "base.html" %}
{% load static %}

{% block extra-css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/codehilite.css' %}">
<link rel="stylesheet" href="{% static 'css/tutorial.css' %}">
{% endblock %}

{% block extra-js %}
<script src="{% static 'js/tutorial.js' %}"></script>
{% endblock %}

{% block pagecontent %}

{% if tutorial %}
    <h1>{{ tutorial.titulo_completo }}</h1>

    <section class="row placeholders flex-1">
        <div class="col-md-6 col-sm-12 placeholder is-flex slidedeck">
            <div class="with-scroll">{{ slide_html | safe }}</div>
            {% if tutorial.total_slides > 1 %}
            <div class="slide-ctrl">
                {% if prev_slide is not None %}
                <a href="?slide={{ prev_slide }}" class="btn back-btn"><span class="fas fa-angle-left"></span></a>
                {% else %}
                <span></span>
                {% endif %}
                {% if mostrar_tudo %}
                <a href="?slide=0" id="toggleSlide">Mostrar somente slide</a>
                {% else %}
                <a href="?slide=-1" id="toggleSlide">Mostrar tudo</a>
                {% endif %}
                {% if next_slide is not None %}
                <a href="?slide={{ next_slide }}" class="btn forward-btn"><span class="fas fa-angle-right"></span></a>
                {% else %}
                <span></span>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% if tutorial.replit_url %}
        <div class="col-md-6 col-sm-12 placeholder">
            <iframe height="100%" width="100%" src="{{ tutorial.replit_url }}?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
        </div>
        {% endif %}
    </section>

{% else %}
    <p>O tutorial não existe... :(</p>
{% endif %}

{% endblock %}
