{% extends "base.html" %}
{% load static %}

{% block extra-css %}
{% endblock %}

{% block extra-js %}
{% endblock %}

{% block pagecontent %}

{% if tutorial %}
    <h1>{{ tutorial.full_title }}</h1>

    <section class="row placeholders flex-1">
        <div class="col-md-6 col-sm-12 placeholder is-flex">
            <div class="with-scroll">{{ tutorial.description | safe | linebreaks }}</div>
        </div>
        {% if tutorial.replit_url %}
        <div class="col-md-6 col-sm-12 placeholder">
            <iframe height="100%" width="100%" src="{{ tutorial.replit_url }}?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
        </div>
        {% endif %}
    </section>

{% else %}
    <p>O tutorial não existe... :(</p>
{% endif %}

{% endblock %}
