{% extends "base.html" %}
{% load static %}

{% block extra-css %}
{% endblock %}

{% block extra-js %}
{% endblock %}

{% block pagecontent %}

{% if tutorial %}
    <h1>{{ tutorial.full_title }}</h1>

    <section class="row placeholders">
        <div class="col-12 col-sm-12 placeholder">
            <div>{{ tutorial.description | safe | linebreaks }}</div>
        </div>
    </section>

    {% if tutorial.replit_url %}
    <section class="row placeholders">
        <div class="col-12 col-sm-12 placeholder">
            <iframe height="400px" width="100%" src="{{ tutorial.replit_url }}?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
        </div>
    </section>
    {% endif %}

{% else %}
    <p>O tutorial não existe... :(</p>
{% endif %}

{% endblock %}
