.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}

.scroll-col {
    max-height: 0;
    min-height: 100%;
    overflow-y: scroll;
}

form ul.sortable-list {
    min-height: 3em;
    background-color: #79aec8;
    padding: 10px;
    margin-left: 10px;
}

ul.sortable-list:empty::after {
    content: "Arraste os exercícios aqui...";
    color: white;
    font-style: italic;
}

form ul.sortable-list li {
    list-style-type: none;
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
}

form ul.sortable-list li:last-child {
    margin-bottom: 0;
}

form ul.sortable-list li::before {
    content: "||";
    margin-right: 10px;
    color: lightgray;
}

label.implicit-label {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 160px;
    align-items: center;
}

fieldset.card {
    padding: 10px;
    border: 1px solid darkgray;
    margin: 10px 0;
    box-shadow: 2px 2px 5px darkgrey;
}

.left-0 {
    margin-left: 0 !important;
}
