.two-columns {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-column-gap: 1em;
    min-height: 500px;
}

.scroll-col {
    max-height: 60vh;
    overflow-y: scroll;
}

form ul.sortable-list {
    background-color: #79aec8;
    padding: 10px;
    margin-left: 10px;
}

ul.sortable-list:empty::after {
    content: "Arraste os exercícios aqui...";
    color: white;
    font-style: italic;
}

form ul.sortable-list li {
    list-style-type: none;
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
}

form ul.sortable-list li:last-child {
    margin-bottom: 0;
}

label.implicit-label {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 160px;
    align-items: center;
}

fieldset.card {
    padding: 10px;
    border: 1px solid darkgray;
    margin: 10px 0;
    box-shadow: 2px 2px 5px darkgrey;
}

.left-0 {
    margin-left: 0 !important;
}

.bloco.selected {
    background-color: #afdaff;
}

.tag {
    padding: 5px;
    border-radius: 2px;
    color: white;
}

.select-tag {
    padding: 10px;
    border-radius: 5px;
    color: white;
}

/* Cores */
.AliceBlue {
    background-color: AliceBlue;
}
.AntiqueWhite {
    background-color: AntiqueWhite;
}
.Aqua {
    background-color: Aqua;
}
.Aquamarine {
    background-color: Aquamarine;
}
.Azure {
    background-color: Azure;
}
.Beige {
    background-color: Beige;
}
.Bisque {
    background-color: Bisque;
}
.Black {
    background-color: Black;
}
.BlanchedAlmond {
    background-color: BlanchedAlmond;
}
.Blue {
    background-color: Blue;
}
.BlueViolet {
    background-color: BlueViolet;
}
.Brown {
    background-color: Brown;
}
.BurlyWood {
    background-color: BurlyWood;
}
.CadetBlue {
    background-color: CadetBlue;
}
.Chartreuse {
    background-color: Chartreuse;
}
.Chocolate {
    background-color: Chocolate;
}
.Coral {
    background-color: Coral;
}
.CornflowerBlue {
    background-color: CornflowerBlue;
}
.Cornsilk {
    background-color: Cornsilk;
}
.Crimson {
    background-color: Crimson;
}
.Cyan {
    background-color: Cyan;
}
.DarkBlue {
    background-color: DarkBlue;
}
.DarkCyan {
    background-color: DarkCyan;
}
.DarkGoldenRod {
    background-color: DarkGoldenRod;
}
.DarkGray {
    background-color: DarkGray;
}
.DarkGrey {
    background-color: DarkGrey;
}
.DarkGreen {
    background-color: DarkGreen;
}
.DarkKhaki {
    background-color: DarkKhaki;
}
.DarkMagenta {
    background-color: DarkMagenta;
}
.DarkOliveGreen {
    background-color: DarkOliveGreen;
}
.DarkOrange {
    background-color: DarkOrange;
}
.DarkOrchid {
    background-color: DarkOrchid;
}
.DarkRed {
    background-color: DarkRed;
}
.DarkSalmon {
    background-color: DarkSalmon;
}
.DarkSeaGreen {
    background-color: DarkSeaGreen;
}
.DarkSlateBlue {
    background-color: DarkSlateBlue;
}
.DarkSlateGray {
    background-color: DarkSlateGray;
}
.DarkSlateGrey {
    background-color: DarkSlateGrey;
}
.DarkTurquoise {
    background-color: DarkTurquoise;
}
.DarkViolet {
    background-color: DarkViolet;
}
.DeepPink {
    background-color: DeepPink;
}
.DeepSkyBlue {
    background-color: DeepSkyBlue;
}
.DimGray {
    background-color: DimGray;
}
.DimGrey {
    background-color: DimGrey;
}
.DodgerBlue {
    background-color: DodgerBlue;
}
.FireBrick {
    background-color: FireBrick;
}
.FloralWhite {
    background-color: FloralWhite;
}
.ForestGreen {
    background-color: ForestGreen;
}
.Fuchsia {
    background-color: Fuchsia;
}
.Gainsboro {
    background-color: Gainsboro;
}
.GhostWhite {
    background-color: GhostWhite;
}
.Gold {
    background-color: Gold;
}
.GoldenRod {
    background-color: GoldenRod;
}
.Gray {
    background-color: Gray;
}
.Grey {
    background-color: Grey;
}
.Green {
    background-color: Green;
}
.GreenYellow {
    background-color: GreenYellow;
}
.HoneyDew {
    background-color: HoneyDew;
}
.HotPink {
    background-color: HotPink;
}
.IndianRed {
    background-color: IndianRed;
}
.Indigo {
    background-color: Indigo;
}
.Ivory {
    background-color: Ivory;
}
.Khaki {
    background-color: Khaki;
}
.Lavender {
    background-color: Lavender;
}
.LavenderBlush {
    background-color: LavenderBlush;
}
.LawnGreen {
    background-color: LawnGreen;
}
.LemonChiffon {
    background-color: LemonChiffon;
}
.LightBlue {
    background-color: LightBlue;
}
.LightCoral {
    background-color: LightCoral;
}
.LightCyan {
    background-color: LightCyan;
}
.LightGoldenRodYellow {
    background-color: LightGoldenRodYellow;
}
.LightGray {
    background-color: LightGray;
}
.LightGrey {
    background-color: LightGrey;
}
.LightGreen {
    background-color: LightGreen;
}
.LightPink {
    background-color: LightPink;
}
.LightSalmon {
    background-color: LightSalmon;
}
.LightSeaGreen {
    background-color: LightSeaGreen;
}
.LightSkyBlue {
    background-color: LightSkyBlue;
}
.LightSlateGray {
    background-color: LightSlateGray;
}
.LightSlateGrey {
    background-color: LightSlateGrey;
}
.LightSteelBlue {
    background-color: LightSteelBlue;
}
.LightYellow {
    background-color: LightYellow;
}
.Lime {
    background-color: Lime;
}
.LimeGreen {
    background-color: LimeGreen;
}
.Linen {
    background-color: Linen;
}
.Magenta {
    background-color: Magenta;
}
.Maroon {
    background-color: Maroon;
}
.MediumAquaMarine {
    background-color: MediumAquaMarine;
}
.MediumBlue {
    background-color: MediumBlue;
}
.MediumOrchid {
    background-color: MediumOrchid;
}
.MediumPurple {
    background-color: MediumPurple;
}
.MediumSeaGreen {
    background-color: MediumSeaGreen;
}
.MediumSlateBlue {
    background-color: MediumSlateBlue;
}
.MediumSpringGreen {
    background-color: MediumSpringGreen;
}
.MediumTurquoise {
    background-color: MediumTurquoise;
}
.MediumVioletRed {
    background-color: MediumVioletRed;
}
.MidnightBlue {
    background-color: MidnightBlue;
}
.MintCream {
    background-color: MintCream;
}
.MistyRose {
    background-color: MistyRose;
}
.Moccasin {
    background-color: Moccasin;
}
.NavajoWhite {
    background-color: NavajoWhite;
}
.Navy {
    background-color: Navy;
}
.OldLace {
    background-color: OldLace;
}
.Olive {
    background-color: Olive;
}
.OliveDrab {
    background-color: OliveDrab;
}
.Orange {
    background-color: Orange;
}
.OrangeRed {
    background-color: OrangeRed;
}
.Orchid {
    background-color: Orchid;
}
.PaleGoldenRod {
    background-color: PaleGoldenRod;
}
.PaleGreen {
    background-color: PaleGreen;
}
.PaleTurquoise {
    background-color: PaleTurquoise;
}
.PaleVioletRed {
    background-color: PaleVioletRed;
}
.PapayaWhip {
    background-color: PapayaWhip;
}
.PeachPuff {
    background-color: PeachPuff;
}
.Peru {
    background-color: Peru;
}
.Pink {
    background-color: Pink;
}
.Plum {
    background-color: Plum;
}
.PowderBlue {
    background-color: PowderBlue;
}
.Purple {
    background-color: Purple;
}
.RebeccaPurple {
    background-color: RebeccaPurple;
}
.Red {
    background-color: Red;
}
.RosyBrown {
    background-color: RosyBrown;
}
.RoyalBlue {
    background-color: RoyalBlue;
}
.SaddleBrown {
    background-color: SaddleBrown;
}
.Salmon {
    background-color: Salmon;
}
.SandyBrown {
    background-color: SandyBrown;
}
.SeaGreen {
    background-color: SeaGreen;
}
.SeaShell {
    background-color: SeaShell;
}
.Sienna {
    background-color: Sienna;
}
.Silver {
    background-color: Silver;
}
.SkyBlue {
    background-color: SkyBlue;
}
.SlateBlue {
    background-color: SlateBlue;
}
.SlateGray {
    background-color: SlateGray;
}
.SlateGrey {
    background-color: SlateGrey;
}
.Snow {
    background-color: Snow;
}
.SpringGreen {
    background-color: SpringGreen;
}
.SteelBlue {
    background-color: SteelBlue;
}
.Tan {
    background-color: Tan;
}
.Teal {
    background-color: Teal;
}
.Thistle {
    background-color: Thistle;
}
.Tomato {
    background-color: Tomato;
}
.Turquoise {
    background-color: Turquoise;
}
.Violet {
    background-color: Violet;
}
.Wheat {
    background-color: Wheat;
}
.White {
    background-color: White;
}
.WhiteSmoke {
    background-color: WhiteSmoke;
}
.Yellow {
    background-color: Yellow;
}
.YellowGreen {
    background-color: YellowGreen;
}
