{% extends "base_generic.html" %}

{% block content %}

<div class="container-fluid">

{% if form.errors %}
  <p>Seu usuário e/ou senha incorretos. Por favor, tente novamente.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Sua conta não tem acesso a esta página. Para continuar, entre com uma conta que tenha acesso.</p>
  {% else %}
    <p>Faça o login para acessar esta página.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>

<tr>
  <td>{{ form.senha_prova.label_tag }}</td>
  <td>{{ form.senha_prova }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p> #}

</div>

{% endblock %}