{% extends "base_generic.html" %}

{% block content %}

<div class="container-fluid">

<h3>Trocar senha</h3>
<div class="text-left">
    <form method="post">{% csrf_token %}
        <div>
        {% if form.errors %}
            <p class="errornote">
            {% if form.errors.items|length == 1 %}Por favor, corrija o erro abaixo.{% else %}Por favor, corrija os erros abaixo.{% endif %}
            </p>
        {% endif %}

            <fieldset class="module aligned wide">

                <div class="form-group">
                    {{ form.old_password.label_tag }}
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                </div>
                <div class="form-row">
                </div>

                <div class="form-group">
                    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                {% if form.new_password1.help_text %}
                    <div class="help">{{ form.new_password1.help_text|safe }}</div>
                {% endif %}
                </div>

                <div class="form-group">
                    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                {% if form.new_password2.help_text %}
                    <div class="help">{{ form.new_password2.help_text|safe }}</div>
                {% endif %}
                </div>

            </fieldset>
            <div class="submit-row">
                <input type="submit" value="Alterar minha senha" class="default">
            </div>
        </div>
    </form>
</div>

</div>

{% endblock %}