container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_updaterepo:
    command: "django-admin.py update_from_git"
  03_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: pygym.settings.production
