{% extends "base.html" %}

{% load static %}
{% load utils %}

{% block extra-js %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/plotly-latest.min.js' %}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function(){
    var data = [{
        x: [
            {% for d in days %}
            '{{ d|date:"Y-m-d" }}',
            {% endfor %}
        ],
        y: [
            {% for d in days %}
            {{ submissions_per_day|get_item:d }},
            {% endfor %}
        ],
        type: 'bar'
    }];
    var layout = {
        xaxis: {
            title: {
                text: 'Data',
            }
        },
        yaxis: {
            title: {
                text: '# Submissões',
            }
        },
    }

    Plotly.newPlot('plotDias', data, layout);
});
    </script>
{% endblock %}

{% block pagecontent %}

<h1>Acompanhamento</h1>

<h2>Submissões por dia</h2>

<p>
A seguir você pode acompanhar o número de submissões realizadas por você, separadas por dia, desde o início do semestre.
</p>

<div id="plotDias"></div>

<h1>Tutoriais</h1>

{% if tutorials %}
    <ul>
    {% for tutorial in tutorials %}
        <li><a href="/tutorial/{{ tutorial.id }}">{{ tutorial }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Ainda não criamos nenhum tutorial... :(</p>
{% endif %}

<h1>Exercícios</h1>

<div>
{% for tag in all_tags %}
    <a href="#" class="filter-challenge-tag challenge-tag badge">{{ tag }}</a>
{% endfor %}
</div>

{% if submissions_by_challenge %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Exercício</th>
                <th>Tentativas</th>
                <th>Resolvido</th>
                <th>Tags</th>
            </tr>
            </thead>
            <tbody>
            {% for sbc in submissions_by_challenge %}
                <tr class="challenge-row {{ sbc.tr_class }}">
                    <td><a href="/challenge/{{ sbc.challenge.id }}">{{ sbc.challenge.full_title }}</a></td>
                    <td>{{ sbc.attempts }}</td>
                    <td>{{ sbc.success }}</td>
                    <td class="challenge-tags">
                        {% for tag in sbc.challenge.tags.all %}
                        <a href="/?tag={{ tag }}" class="challenge-tag badge">{{ tag }}</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>Você ainda não fez nenhuma submissão... :(</p>
{% endif %}

{% endblock %}
