{% extends "base.html" %}
{% load utils %}

{% block pagecontent %}
<h1>{{ object.titulo }}</h1>

<p>{{ object.descricao }}</p>

<h3>Exercícios</h3>

{% for exercicio in object.exercicios_por_nome %}
<a href="{% url 'challenge' c_id=exercicio.id %}">{{ exercicio.title }}</a>
{% endfor %}

{% if user.is_staff %}
<h3>Submissões</h3>

<table>
<tr><th>Exercício</th><th>Usuário</th><th>Horário</th><th>Link</th></tr>
{% for exercicio in object.exercicios_por_nome %}
{% with submissoes=results|get_item:exercicio.title %}
{% for autor in submissoes %}
{% with sub_data=submissoes|get_item:autor %}
{% with horario=sub_data|get_item:'created' code=sub_data|get_item:'code' %}
<tr>
    <td>{{ exercicio.title }}</td>
    <td>{{ autor }}</td>
    <td>{{ horario }}</td>
    <td>{{ code }}</td>
</tr>
{% endwith %}
{% endwith %}
{% endfor %}
{% endwith %}
{% endfor %}
</table>
{% endif %}

{% endblock %}
