{% extends "base.html" %}
{% load utils %}
{% load static %}
{% load l10n %}

{% block extra-css %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/default.min.css">
<link rel="stylesheet" href="{% static 'css/teste-de-mesa.css' %}">
{% endblock %}

{% block extra-js %}
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
<script src="{% static 'js/highlightjs-line-numbers.min.js' %}"></script>
<script src="{% static 'js/highlightjs-highlight-lines.min.js' %}"></script>
<script src="{% static 'js/teste-de-mesa.js' %}"></script>
<script>
hljs.initHighlightingOnLoad();
hljs.initLineNumbersOnLoad();
{% if passo_atual %}
hljs.initHighlightLinesOnLoad([
    [{start: {{ passo_atual.line_i }}, end: {{ passo_atual.line_i }}, color: '#fdd'},
    {% if passo_atual.call_line_i is not None %}
    {start: {{ passo_atual.call_line_i }}, end: {{ passo_atual.call_line_i }}, color: '#ddd'},
    {% endif %}
    ],
]);
{% endif %}
</script>
{% endblock %}

{% block pagecontent %}
{% if teste_mesa %}
    <h1>{{ teste_mesa.titulo_completo }}</h1>

    <p>
    {% if teste_mesa.descricao %}
        {{ teste_mesa.descricao_html|safe }}
    {% else %}
    Atualize as variáveis na memória e a saída do terminal de acordo com a linha atual.
    {% endif %}
    </p>
    <section class="row">
        <div class="col-md-6 col-sm-12">
            <h3>Código</h3>
            <pre><code class="python">{{ teste_mesa.codigo }}</code></pre>
            
        </div>
        <div class="col-md-6 col-sm-12">
            <h3>Teste de Mesa{% if not teste_concluido %} (atualize com os novos valores){% endif %}</h3>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                {% if 'teste-mesa' in message.extra_tags %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            {% if teste_concluido %}
            {% comment %} Fonte: https://codepen.io/cvan/pen/LYYXzWZ {% endcomment %}
            <div class="success-checkmark">
                <div class="check-icon">
                    <span class="icon-line line-tip"></span>
                    <span class="icon-line line-long"></span>
                    <div class="icon-circle"></div>
                    <div class="icon-fix"></div>
                </div>
            </div>
            {% else %}
            <form method="POST">
                <h5>Memória</h5>
                {% if passo_anterior.retval is not None %}
                <span>Valor devolvido: {{ passo_anterior.retval|unlocalize }}</span>
                {% endif %}
                {% csrf_token %}
                {% for nome, contexto, vars in memoria %}
                <div class="box box-memoria {% if forloop.counter0 == 0 %}outer-box{% endif %}" id="box-{{ contexto }}">
                    <div class="box">
                        <span class="memoria-titulo">{{ nome }}</span>
                        <div class="form-check">
                            <input class="form-check-input ativa-contexto" type="checkbox" id="{{ contexto }}" name="act::{{ contexto }}" checked=true>
                            <label class="form-check-label" for="{{ contexto }}">Ativa</label>
                        </div>
                        {% if vars %}
                        {% for v_name, v_val in vars.items %}
                        <div class="form-group">
                            {% with v_fullname=contexto|add:'::'|add:v_name %}
                            <label class="col-form-label" for="{{ v_fullname }}">{{ v_name }}</label>
                            <input type="text" value="{% if v_val is not None %}{{ v_val|get_repr }}{% endif %}" id="{{ v_fullname }}" name="mem::{{ v_fullname }}">
                            {% endwith %}
                        </div>
                        {% endfor %}
                        {% else %}
                        <p>Memória vazia</p>
                        {% endif %}
                    </div>
                {% endfor %}
                {% comment %}
                Precisamos dos dois for's separados para obter um resultado
                "recursivo" (uma caixa dentro da outra)
                {% endcomment %}
                {% for _ in memoria %}
                </div>
                {% endfor %}
                {% if passo_atual.retval is not None %}
                <div class="form-group">
                    <label class="col-form-label" for="retval">Valor de retorno</label>
                    <input type="text" value="" id="retval" name="ret::retval">
                </div>
                {% endif %}
                <h5>Saída do terminal</h5>
                <div class="form-group">
                    <div class="form-control terminal" onclick="focusFunction()">
                        {% for term_out, term_in in stdout %}
                        <div class="term-linha">
                            <span>{{ term_out }}</span>
                            {% if term_in %}
                            <span class="term-input">{{ term_in }}</span>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <input type="hidden" name="out::prev_terminal_lines" value="{{ n_prev_out_lines }}">
                        <textarea id="terminal" name="out::terminal" rows="3"></textarea>
                    </div>
                    {% if tem_input %}
                    <span>Entrada digitada pelo usuário <span class="term-input">em verde</span></span>
                    {% endif %}
                </div>
                {% if not eh_ultimo_passo %}
                <div class="form-group">
                    <label for="proximaLinha">Próxima linha</label>
                    <select class="form-control" id="proximaLinha" name="ctr::prox_linha">
                    {% for i in linhas %}
                    <option{% if proxima_linha == i %} selected{% endif %} value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                    </select>
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary btn-block">Próximo passo</button>
            </form>
            {% endif %}
        </div>
    
    </section>
<p>
    <h3>Progresso</h3>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {% widthratio passo_atual_i passo_total 100 %}%;"> {{passo_atual_i}} / {{passo_total}}</div>
    </div>
</p>
{% else %}
    <p>O exercício não existe... :(</p>
{% endif %}

{% endblock %}
