/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  min-height: 100vh;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
}

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

label {
  display: block;
}

.errorlist {
  color: red;
  list-style: none;
  padding-left: 0;
}

.challenge-feedback-list {
  padding-left: 0;
}

.challenge-feedback {
  display: grid;
  grid-template-columns: auto fit-content(50px);
  grid-row-gap: 10px;
  margin-bottom: 1em;
}

.challenge-feedback .stacktrace {
  grid-column-start: 1;
  grid-column-end: 3;
  color: lightcoral;
  font-family: monospace;
}

.CodeMirror {
  border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
  font-size: 0.9em;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/*
 * Sizing
 */

.minh-100 {
  min-height: 100%;
}

.flex-1 {
  flex: 1;
}

.with-scroll {
  overflow-y: auto;
  width: 100%;
  height: 0;
  min-height: 100%;
}

.is-flex {
  display: flex;
}