{% extends "admin/base_admin.html" %}
{% load static %}
{% load report_extras %}
{% load utils %}

{% block content_title %}
<h1>Total de submissões por aluno</h1>
{% endblock %}

{% block extra-js %}
{{ block.super }}
<script>
    var submissoes = [];
    {% for i in total_interacoes %}
    submissoes.push({{ i }});
    {% endfor %}
</script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{% static '/js/report/totalPorAluno.js' %}"></script>
{% endblock %}

{% block content %}
{{ block.super }}
<div id="plotHere"></div>
{% endblock %}

{% block pagination %}{% endblock %}
