{% extends "admin/base_admin.html" %}
{% load report_extras %}
{% load utils %}

{% block content_title %}
<h1>Relatório de Tutoriais</h1>
{% endblock %}

{% block content %}
{{ block.super }}
<table class="table table-striped">
    <thead>
      <tr>
        <th>Usuário</th>
        {% for tutorial in tutoriais %}
        <th><a href="{% url 'exercicio' c_id=tutorial.id %}">{{ tutorial.id }}</a></th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for usr in usuarios %}
      <tr>
        <td>{{ usr|smartname }} ({{ usr.username }})</td>
        {% for tutorial in tutoriais %}
        {% with acessos=acessos_por_usuario|get_item:usr|get_item:tutorial %}
        <td class="{{ acessos|get_css_count_class }}">{{ acessos }}</td>
        {% endwith %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block pagination %}{% endblock %}
