{% extends "base.html" %}
{% load feedbacks %}
{% load static %}

{% block extra-css %}
<link href="{%  static 'lib/codemirror.css' %}" rel="stylesheet">
{% endblock %}

{% block extra-js %}
<script src="{% static 'lib/codemirror.js' %}"></script>
<script src="{% static 'mode/python/python.js' %}"></script>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("codeeditor"), {
        mode: {name: "python",
            version: 3,
            singleLineStringErrors: false},
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true,
    });
    editor.setValue("{{ ultima_submissao | safe }}");
    editor.setOption("extraKeys", {
        Tab: function(cm) {
            var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
            cm.replaceSelection(spaces);
        }
    });
</script>
{% endblock %}

{% block pagecontent %}

{% if exercicio %}
    <h1>{{ exercicio.titulo_completo }}</h1>

    <section class="placeholders">
    {% for tag in exercicio.tags.all %}
        <a href="/?tag={{ tag }}" class="badge badge-primary">{{ tag }}</a>
    {% endfor %}
    </section>

    {% if messages %}
        {% for message in messages %}
            {% if 'show_last' in message.extra_tags %}
                <h3>Último envio:</h3>
                    {% show_feedbacks resposta_ultima_submissao error_counter %}
            {% endif %}
        {% endfor %}
    {% endif %}


    <section class="row placeholders">
        <div class="col-12 col-sm-12 placeholder">
            {% if exercicio_programado.fim is not None %}
            <div class="text-muted">Prazo: {{ exercicio_programado.fim|date:'l d/m/Y H:i' }}</div>
            {% endif %}
            <div>{{ exercicio.descricao_html | safe }}</div>
            {% if exercicio.nome_funcao %}
            <div>O nome da sua função deve ser <code>{{ exercicio.nome_funcao }}</code>.</div>
            {% endif %}
            {% if exercicio.imagem %}
            <div><img src="{{ exercicio.imagem.url }}"></div>
            {% endif %}
            <div></div>
        </div>
        <div class="col-4 col-md-1 placeholder"></div>
    </section>

    <div class="row text-left">
        <div class="col-2 col-md-2 placeholder"></div>
        <div class="col-10 col-md-10 placeholder">
        <form method="POST" enctype="multipart/form-data">
            <h5>Resposta</h5>
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="resposta">Selecione um arquivo:</label>
                    <input type="file" class="form-control-file" id="resposta" name="codigo_arquivo">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="codeeditor">Ou escreva seu código aqui:</label>
                    <textarea name="codigo_texto" id="codeeditor"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        </div>
    </div>
    <br/><br/>
    <h3>Envios:</h3>
    {% show_feedbacks respostas error_counter %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Tentativa</th>
                <th>Feedback</th>
            </tr>
            </thead>    {% show_feedbacks respostas error_counter %}
            <tbody>
            {% for ans in respostas %}
                {% if ans.sucesso %}
                <tr class = "bg-success text-white">
                {% else %}
                <tr class = "bg-danger text-white">
                {% endif %}
                    <td>{{ ans.data_submissao|date:'d/m/Y H:i' }}</td>
                    <td>
                        <ul class="challenge-feedback-list">
                        {% for feedback in ans.feedback_limpo %}
                            <li>
                                {% if not feedback.stacktrace or feedback.stacktrace == '-' %}
                                {{ feedback.mensagem }}
                                {% else %}
                                <div class="challenge-feedback">
                                    <span>{{ feedback.mensagem }}</span>
                                    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#error{{ error_counter.cur }}" aria-expanded="false" aria-controls="error{{ error_counter.cur }}">
                                        Stack trace
                                    </button>
                                    {% if exercicio.saida_terminal %}
                                        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#stdout{{ error_counter.cur }}" aria-expanded="false" aria-controls="stdout{{ error_counter.cur }}">
                                            Saída no terminal
                                        </button>
                                    {% endif %}
                                    <div class="output stacktrace collapse" id="error{{ error_counter.cur }}">
                                        <div class="card card-body">
                                            {{ feedback.stacktrace|safe }}
                                        </div>
                                    </div>
                                    {% if exercicio.saida_terminal %}
                                    <div class="output terminal collapse" id="stdout{{ error_counter.cur }}">
                                        <div class="card card-body terminal">
                                            {% for term_out, term_in in feedback.stdout %}
                                            <div class="term-linha">
                                                <span>{{ term_out }}</span>
                                                {% if term_in %}
                                                <span class="term-input">{{ term_in }}</span>
                                                {% endif %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                {{ error_counter.next }}
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>O exercício não existe... :(</p>
{% endif %}

{% endblock %}
