{% extends "base.html" %}

{% load static %}
{% load utils %}
{% block extra-js %}
{{ block.super }}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block extra-css %}
{{ block.super }}
    <link href="{%  static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block pagecontent %}

<h1>Exercícios</h1>

<div>
{% for t in todas_tags %}
    {% with tag=prog_tags|get_item:t %}
    {% with pct=tag|get_item:'pct' feitos=tag|get_item:'feitos' total=tag|get_item:'total' %}
    <a href="{% if t|stringformat:'s' != 'todos' %}/?tag={{ t }}{% else %}/{% endif %}" class="challenge-tag progress-badge {% if t|stringformat:'s' == tag_ativada %}bg-primary{% else %}bg-secondary{% endif %}">
        <div class="progress-bar progress-bar-striped {% if t|stringformat:'s' == tag_ativada %}bg-info{% else %}bg-dark{% endif %}" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{pct}}%;">
            <span class="progress-bar-text">{{ t }}</span>
            <span class="sr-only">{{t}}: {{feitos}}/{{total}}</span>
        </div>
    </a>
    {% endwith %}
    {% endwith %}
{% endfor %}
</div>

{% if submissoes_por_exercicio %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Exercício</th>
                <th>Tentativas</th>
                <th>Resolvido</th>
                <th>Tags</th>
            </tr>
            </thead>
            <tbody>
            {% for sbc in submissoes_por_exercicio %}
                <tr class="challenge-row {{ sbc.tr_class }}">
                    <td><a href="{% url 'exercicio' c_id=sbc.exercicio.id %}">{{ sbc.exercicio.especifico.titulo_completo }}</a></td>
                    <td>{{ sbc.tentativas }}</td>
                    <td>{{ sbc.success }}</td>
                    <td class="challenge-tags">
                        {% for tag in sbc.exercicio.tags.all %}
                        <a href="/?tag={{ tag }}" class="challenge-tag badge">{{ tag }}</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>Você ainda não fez nenhuma submissão... :(</p>
{% endif %}

{% endblock %}
