{% extends "base.html" %}

{% load static %}
{% load utils %}
{% block extra-js %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block pagecontent %}

<h1>Acompanhamento</h1>

<h2>Progresso</h2>

<p>
A seguir você pode acompanhar o seu progresso nos desafios por tags.
</p>

<div >
    <div>
        <link rel="stylesheet" type="text/css" href="./static/css/loading-bar.css"/>
        <script type="text/javascript" src="/static/js/loading-bar.js"></script>
        <div style="width: 100%; display: table;"><div style="display: table-row"></div>
        {% for t in prog_tags %}
        {% with tag=prog_tags|get_item:t %}
        {% with pct=tag|get_item:'pct' feitos=tag|get_item:'feitos' total=tag|get_item:'total' %}
        {% if forloop.counter0|divisibleby:"4" %}
            </div>
            <div style="display: table-row">
            <div style="display: table-cell;">
            <div class="ldBar label-center" style="width:40%;height:40%;margin:auto"; align=left; data-value={{pct}} data-preset="circle"></div><div style=" text-align: center;">{{t}}: {{feitos}}/{{total}}</div></div>
        {% else %}
            <div style="display: table-cell;">
            <div class="ldBar label-center" style="width:40%;height:40%;margin:auto"; align=left; data-value={{pct}} data-preset="circle"></div><div style=" text-align: center;">{{t}}: {{feitos}}/{{total}}</div></div>
        {% endif %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
    </div>
</div>

<h1>Exercícios</h1>

<div>
{% for tag in todas_tags %}
    <a href="/?tag={{ tag }}" class="challenge-tag badge">{{ tag }}</a>
{% endfor %}
    <a href="/" class="challenge-tag badge">all</a>
</div>

{% if submissoes_por_exercicio %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Exercício</th>
                <th>Tentativas</th>
                <th>Resolvido</th>
                <th>Tags</th>
            </tr>
            </thead>
            <tbody>
            {% for sbc in submissoes_por_exercicio %}
                <tr class="challenge-row {{ sbc.tr_class }}">
                    <td><a href="{% url 'exercicio' c_id=sbc.exercicio.id %}">{{ sbc.exercicio.especifico.titulo_completo }}</a></td>
                    <td>{{ sbc.tentativas }}</td>
                    <td>{{ sbc.success }}</td>
                    <td class="challenge-tags">
                        {% for tag in sbc.exercicio.tags.all %}
                        <a href="/?tag={{ tag }}" class="challenge-tag badge">{{ tag }}</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>Você ainda não fez nenhuma submissão... :(</p>
{% endif %}

{% endblock %}
