<h3>Trocar senha</h3>
		  <div class="row text-left">
            <div class="col-2 col-md-2 placeholder"></div>
            <div class="col-10 col-md-10 placeholder">
              <form action="./pass" method="POST">
                <div class="form-row">
                  <div class="form-group col-md-8">
                    <label for="velha">Senha Antiga:</label>
                    <input type="password" class="form-control-file" id="velha" name="old">
					<label for="nova">Senha Nova:</label>
                    <input type="password" class="form-control-file" id="nova" name="new">
					<label for="respeteco">Repetir Senha Nova:</label>
                    <input type="password" class="form-control-file" id="repeteco" name="again">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
            </div>
          </div>