{% extends "base.html" %}
{% load utils %}

{% block pagecontent %}
<h1>{{ object.titulo }}</h1>

<div>{{ object.descricao_html|safe }}</div>

<h3>Exercícios</h3>

{% for ex in object.exercicios_por_nome %}
<a href="{% url 'exercicio' c_id=ex.id %}">{{ ex.titulo }}</a>
{% endfor %}

{% if user.is_staff %}
<h3>Submissões</h3>

<table>
<tr><th>Exercício</th><th>Usuário</th><th>Horário</th><th>Link</th></tr>
{% for ex in object.exercicios_por_nome %}
{% with submissoes=results|get_item:ex.titulo %}
{% for autor in submissoes %}
{% with sub_data=submissoes|get_item:autor %}
{% with horario=sub_data|get_item:'data_submissao' codigo=sub_data|get_item:'codigo' %}
<tr>
    <td>{{ ex.titulo }}</td>
    <td>{{ autor }}</td>
    <td>{{ horario|date:'Y-m-d H:i:s' }}</td>
    <td>{{ codigo }}</td>
</tr>
{% endwith %}
{% endwith %}
{% endfor %}
{% endwith %}
{% endfor %}
</table>
{% endif %}

{% endblock %}
