{% extends "base.html" %}
{% load utils %}

{% block pagecontent %}
<h1>{{ object.titulo }}</h1>

<div>{{ object.descricao_html|safe }}</div>

<h3>Exercícios</h3>

{% for ex in exercicios %}
<a href="{% url 'exercicio' c_id=ex.id %}">{{ ex.titulo }}</a>
{% endfor %}

{% if user.is_staff %}
<h3>Submissões</h3>

<table class="table">
<tr>
<th>Usuário</th>
    {% for ex in exercicios %}
    <th>{{ ex.titulo }}</th>
    {% endfor %}
</tr>

{% for autor in resultados %}
{% with sub_data=resultados|get_item:autor %}
<tr>
    <td>{{ autor }}</td>
{% for ex in exercicios %}
{% with sub=sub_data|get_item:ex.titulo %}
{% with horario=sub|get_item:'data_submissao' codigo=sub|get_item:'codigo' cls=sub|get_item:'class' %}
    <td class="{{ cls }}"><a href="{{ codigo }}">{{ horario|date:'Y-m-d H:i:s' }}</a></td>
{% endwith %}
{% endwith %}
{% endfor %}
</tr>
{% endwith %}
{% endfor %}
</table>

<a href="{% url 'download_prova' slug=object.slug %}" class="btn btn-primary">Download de submissões</a>
{% endif %}

{% endblock %}
