{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
  <meta name="description" content="Python handouts and challenges">
  <meta name="author" content="Andrew Kurauchi">
  <title>Python Gym</title>
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
    integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
</head>

<body>
  <div id="app">
  </div>
</body>
{% load static %}
<script src="{% static 'frontend/main.js' %}"></script>

</html>
