<fieldset class="card challengeblock">
    <div class="form-row">
        <div>
            <label class="implicit-label">Name: <input type="text" class="challengeblock-name vTextField" maxlength="1024" value="{{ block.name }}"></label>
        </div>
    </div>
    <div class="form-row">
        <div>
            <label class="implicit-label">Release Date: <input type="text" class="challengeblock-releasedate vDateField" size="10" value="{{ block.release_date|date:"Y-m-d" }}"></label>
        </div>
    </div>

    <div class="form-row">
        <label>
            Challenges:
        </label>
        <ul class="challengeblock-challenges sortable-list left-0">
            {% for challenge in block.challenges.all %}
            <li class="challenge" value="{{ challenge.id }}">{{ challenge.full_title }}</li>
            {% endfor %}
        </ul>
    </div>
</fieldset>
